# Data files
data/PBMC/*.h5ad
data/PBMC/*.csv
data/PBMC/*.mtx

# Python
__pycache__/
*.pyc
venv/
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Model outputs
models/*.pkl
models/*.pt

# visualizations
visualizations/*.png
visualizations/*.jpg
visualizations/*.pdf
visualizations/*.svg
figures/*.png
figures/*.jpg
figures/*.pdf
figures/*.svg